:root {
  --border-size: 1px;
  --pad-width-148: 148px;
  --pads-gap: 10px;
  --display-base-width: calc((100% - var(--pads-gap)) * 0.25);
  --display-base-height: calc((100% - var(--pads-gap)) * 0.25);
  --pads-base-width: calc((100% - var(--pads-gap)) * 0.75);
  --icon-width: min(50%, 15vmin);
}

.dm-container,
.dm-container * {
  box-sizing: border-box;
}

.dp-container .drum-pad .icon,
.dp-container .drum-pad span,
.display-container #display .section img,
.display-container #display .section .text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.dp-container .drum-pad span,
.display-container #display .section .text {
  font-size: var(--font-size);
}

.dm-container {
  height: 100%;
  border: solid green var(--border-size);
  padding: var(--pads-gap);
}

#drum-machine {
  height: 100%;
  border: solid yellow var(--border-size);
  display: flex;
  flex-direction: row-reverse;
}

.display-container {
  flex: 1 1 0;
  max-width: var(--display-base-width);
}

.pads-container {
  flex: 3 3 0;
  border: solid red var(--border-size);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--pads-gap);
}

.dp-container .drum-pad {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.dp-container .drum-pad .icon {
  aspect-ratio: 1 / 1;
  width: var(--icon-width);
}

@media only screen and (orientation: portrait) {
  #drum-machine {
    flex-direction: column;
  }
  .display-container {
    max-width: unset;
    max-height: var(--display-base-height);
  }
}
