:root {
  --main-bgr-color: rgba(0, 118, 255, 100);
  --font-size: calc(8px + 3vmax) !important;
  --border-size: 0 !important;
}

body {
  font-size: var(--font-size);
}

.App-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bgr-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 100vw;
  height: 100vh;
}
