:root {
  --transition-dismiss: opacity 0.3s ease-out;
}

.display-container {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 0 0 var(--pads-gap);
  border-radius: 24px;
}

#display {
  height: 100%;
  padding: var(--pads-gap);
  display: flex;
  flex-direction: column;
  gap: var(--pads-gap);
}

.display-container #display .section {
  flex: 1 1 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.display-container #display .section img {
  aspect-ratio: 1 / 1;
  width: 50%;
  transition: var(--transition-dismiss);
}

.dismiss {
  opacity: 0;
}

.display-container #display .section .text {
  font-family: "Figtree", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  overflow-wrap: anywhere;
  transition: var(--transition-dismiss);
}

@media only screen and (orientation: portrait) {
  .display-container {
    margin: 0 0 var(--pads-gap) 0;
  }
  #display {
    flex-direction: row;
  }
  .display-container #display .size-2x {
    flex: 2 2 0;
  }
  .display-container #display .section img {
    width: 60%;
  }
}
